.row-colum-left{
    float: left;
    padding: 10px;
    width: 160px;
}
.row-colum-contorls{
    float: left;
    padding: 10px;    
}
.row-colum-contorls i{
    cursor: pointer;
}
.row-colum-contorls a{
    padding-right: 5px;
}

.c-label-left{
    float: left;
    padding: 10px;    
    width: 160px;
}

.data-container-row input, .data-container-row textArea, .data-container-row select{
    width: 150px;
}

.filters-container{
    padding: 10px;
}
.filters-container .filter{
    float: left;
    padding: 10px;
}
.filter-error{
    color: red;
    display: block;
}